.img_lviv{
    filter: opacity(15%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 1000px 100px #000000 inset;
}
