@@ -0,0 +1,34 @@
<!DOCTYPE html>
<html>
  <head>
    <title>Add Map</title>

    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    <h3>Google Maps demo</h3>
    <div id="map" style="height: 400px; width: 100%;"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeCxe3fEX3auv-lhC3AOohaIR8Y-KkOBA&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <script type="text/javascript">
    	// Initialize and add the map
		function initMap() {
		  const lvivPolytechnic = { lat: 49.8357347618883, lng: 24.01451637443371 };
		  const map = new google.maps.Map(document.getElementById("map"), {
		    zoom: 17,
		    center: lvivPolytechnic,
		  });
		  // The marker, positioned at lvivPolytechnic
		  let marker = [];

		  new google.maps.Marker({
		    position: lvivPolytechnic,
		    map: map,
		  });
		}
    </script>
  </body>
</html> 